<!DOCTYPE html>
<html lang="en">

<head>
	[[template "header"]]
	<title>About - Lex Library</title>
</head>

<body>
	<div class="page-container">
		[[template "nav" .]]
		<div id="main" class="page-content container">
			<button type="button" v-if="runtime" v-cloak @click="showModal" class="btn btn-link float-right">
				Report an issue
			</button>
			<h2>Lex Library</h2>
			<h4 class="text-muted">Version: [[.Version]] <small>(Built [[time .BuildDate]])</small></h4>
			<p>The latest news and updates on Lex Library can be found at 
				<a href="https://www.lexlibrary.io">LexLibrary.io</a>
			</p>
			<hr>
			<div id="attribution">
				<h5>Credits and Attribution</h5>
				<p>Lex Library is built on open-source software and creative commons resources. These contributions 
				are the culmination of many hours of work freely and generously given to the world.	Without them, Lex Library
				would not be possible.</p>
				<p><em>Thank you</em></p>
				<div class="card-columns pt-4">
					[[range .Attribution]]
					<div class="card">
						<div class="card-body">
							<div class="card-title h5"><a href="[[.URL]]" target="_blank">[[.Name]]</a></div>
							<div class="card-subtitle text-muted">([[.LicenseType]])</div>
							<div class="card-text">
								[[.Author]]
							</div>
						</div>
					</div>
					[[end]]
				</div> <!--card-columns-->
			</div><!--attribution-->
			[[template "modal"]]
		</div>
		[[template "footer" .]]
	</div>
</body>

<script type="application/json" id="runtime">[[json .Runtime]]</script>
<script type="application/json" id="browser">[[json .Browser]]</script>
<script type="application/json" id="version">[[.Version]]</script>
<script type="application/json" id="buildDate">[[.BuildDate]]</script>
<script src="/js/vue.js"></script>
<script src="/js/about.js"></script>
</html>


[[define "modal"]]
<modal ref="modal">
	<div class="modal-header">
		<h5 class="modal-title">Submit an Issue</h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<form class="form-horizontal">
			<div class="form-group">
				<div class="col-3 col-sm-12">
					<label>Issue Type</label>
				</div>
				<div class="col-4 col-sm-6">
					<select v-model="label" class="form-control">
						<option value="bug">Bug Report</option>
						<option value="performance">Performance Issue</option>
						<option value="enhancement">Feature Request</option>
					</select>
				</div>
			</div> <!-- type form-group -->
			<div class="form-group">
				<div class="col-3 col-sm-12">
					<label>Subject</label>
				</div>
				<div class="col-9 col-sm-12">
					<input v-model="subject" class="form-control" type="text" placeholder="Write a few words describing the issue">
				</div>
			</div> <!-- subject form-group -->
			<div class="form-group">
				<div class="col-9 col-sm-12 col-ml-auto">
					<p v-if="label==='bug'" class="form-text">Describe in detail the steps needed to replicate the issue, including
						what result was expected and what result occurred.</p>
					<p v-if="label==='enhancement'" class="form-text">Describe in detail a single feature that you think will 
						improve Lex Library.</p>
					<p v-if="label==='performance'" class="form-text">Describe in detail what actions where taken that resulted in
						poor performance.</p>
				</div>
			</div> <!-- help form-group -->
			<div class="form-group">
				<div class="col-3 col-sm-12">
					<label>Description</label>
				</div>
				<div class="col-9 col-sm-12">
					<textarea v-model="description" class="form-control" rows="10" placeholder="Describe the issue in detail">
					</textarea>
				</div>
			</div> <!-- description form-group -->
		</form>
		<div class="modal-footer">
			<a :href="issueURL" target="_blank" class="btn btn-primary">Preview on Github</a>
		</div>
	</div>
</modal> <!-- modal -->
[[end]]
