<!DOCTYPE html>
<html lang="en">

<head>
	[[template "header"]]
	<title>Administration - Lex Library</title>
</head>

<body>
	[[template "nav" .]]
	<div class="container grid-xl">
		<h1>Administration</h1>
		<ul class="tab tab-block">
			<li class='tab-item [[if eq .Tab "overview"]]active[[end]]'><a href="/admin">Overview</a></li>
			<li class='tab-item [[if eq .Tab "registration"]]active[[end]]'><a href="/admin/registration">Registration</a></li>
			<li class='tab-item [[if eq .Tab "logs"]]active[[end]]'><a href="/admin/logs">Logs</a></li>
			<li class='tab-item [[if eq .Tab "settings"]]active[[end]]'><a href="/admin/settings">Settings</a></li>
		</ul>
		<div id="admin">
			[[if eq .Tab "overview"]]
				[[template "overview" .]]
			[[else if eq .Tab "settings"]]
				[[template "settings" .]]
			[[else if eq .Tab "logs"]]
				[[template "logs" .]]
			[[else if eq .Tab "registration"]]
				[[template "registration" .]]
			[[end]]
		</div>
	</div>
</body>
<script type="application/json" id="settingsPayload">[[.Settings]]</script>
<script src="/js/vue.js"></script>
<script src="/js/admin.js"></script>
</html>


[[define "overview"]]
<section class="pt-2">
	<div class="columns">
		<div class="column text-center">
			<h5 class="title"><small>Users</small></h5>
			<h3>[[.Overview.Instance.Users]]</h3>
		</div>
		<div class="column text-center">
			<h5 class="title"><small>Logged In</small></h5>
			<h3>[[.Overview.Instance.Sessions]]</h3>
		</div>
		<div class="column text-center">
			<h5 class="title"><small>Documents</small></h5>
			<h3>[[.Overview.Instance.Documents]]</h3>
		</div>
	</div>
</section>
<section class="pt-4">
	<div class="card-columns col-lg">
		
		<div class="card">
			<div class="card-header">
				<div class="card-title h5">Instance Information</div>
			</div>
			<div class="card-body">
				[[with .Overview.Instance]]
				<table class="overview table">
					<tbody>
						<tr><td>Version</td><td>[[.Version]]</td></tr>
						<tr><td>Build Date</td><td title="[[time .BuildDate]]">[[time .BuildDate]]</td></tr>
						<tr><td>Uptime</td><td>[[duration .Uptime]]</td></tr>
						<tr><td>First Launch</td><td title="[[time .FirstLaunch]]">[[since .FirstLaunch]]</td></tr>
						<tr><td>Errors Since Last Start</td><td>[[.ErrorsSinceStart]]</td></tr>
						<tr><td>Total Number of Errors</td><td>[[.ErrorsTotal]]</td></tr>
					</tbody>
				</table>
				[[end]]
			</div>
		</div> <!-- card -->
		<div class="card">
			<div class="card-header">
				<div class="card-title h5">Data Usage</div>
				[[if eq .Overview.Config.DatabaseType "sqlite"]]
					<div class="card-subtitle text-gray">Image Size is not available on SQLITE</div>
				[[else if eq .Overview.Config.DatabaseType "cockroachdb"]]
					<div class="card-subtitle text-gray">Data Sizes are not currently availble on Cockroach DB</div>
				[[end]]
			</div>
			<div class="card-body">
				<table class="overview table">
					<tbody>
						[[with .Overview.Instance.Size]]
						<tr><td>Database Size</td><td>[[bytes .Data]]</td></tr>
						<tr><td>Image Size</td><td>[[bytes .Image]]</td></tr>
						<tr><td>Search Index Size</td><td>[[bytes .Search]]</td></tr>
						<tr><td>Total Size</td><td>[[bytes .Total]]</td></tr>
						[[end]]
						<tr><td>Space Available</td><td>[[bytes .Overview.System.FreeSpace]]</td></tr>
					</tbody>
				</table>
			</div>
		</div> <!-- card -->
		<div class="card">
			<div class="card-header">
				<div class="card-title h5">System Information</div>
			</div>
			<div class="card-body">
				[[with .Overview.System]]
				<table class="overview table">
					<tbody>
						<tr><td>Uptime</td><td>[[duration .Uptime]]</td></tr>
						<tr><td>Total RAM</td><td>[[bytes .Totalram]]</td></tr>
						<tr><td>Free RAM</td><td>[[bytes .Freeram]]</td></tr>
						<tr><td>Shared RAM</td><td>[[bytes .Sharedram]]</td></tr>
						<tr><td>Total Swap</td><td>[[bytes .Totalswap]]</td></tr>
						<tr><td>Free Swap</td><td>[[bytes .Freeswap]]</td></tr>
						<tr><td>Free Space</td><td>[[bytes .FreeSpace]]</td></tr>
						<tr><td>Total Space</td><td>[[bytes .TotalSpace]]</td></tr>
					</tbody>
				</table>
				[[end]]
			</div>
		</div> <!-- card -->

		<div class="card">
			<div class="card-header">
				<div class="card-title h5">Runtime</div>
			</div>
			<div class="card-body">
				[[with .Overview.Runtime]]
				<table class="overview table">
					<tbody>
						<tr><td>OS</td><td>[[.OS]]</td></tr>
						<tr><td>Go Version</td><td>[[.GoVer]]</td></tr>
						<tr><td>Architecture</td><td>[[.Arch]]</td></tr>
						<tr><td>Compiler</td><td>[[.Compiler]]</td></tr>
						<tr><td>Max Procs</td><td>[[.MaxProcs]]</td></tr>
						<tr><td>Number of CPUs</td><td>[[.NumCPU]]</td></tr>
					</tbody>
				</table>
				[[end]]
			</div>
		</div> <!-- card -->
		<div class="card">
			[[with .WebConfig]]
			<div class="card-header">
				<div class="card-title h5">Web Configuration</div>
				[[if ne .Location ""]]
				<div class="card-subtitle text-gray">
					Values are set in the <span class="label" title="[[.Location]]">configuration file</span>.
				</div>
				[[else]]
					<div class="card-subtitle text-gray">Values are defaults or set environment variable.</div>
				[[end]]
			</div>
			<div class="card-body">
				<table class="overview table">
					<tbody>
						<tr><td>Read Timeout</td><td>[[.ReadTimeout]]</td></tr>
						<tr><td>Write Timeout</td><td>[[.WriteTimeout]]</td></tr>
						<tr><td>Max Header Bytes</td><td>[[.MaxHeaderBytes]]</td></tr>
						<tr><td>Min TLS Version</td><td>[[.MinTLSVersion]]</td></tr>
						<tr><td>Certificate File</td><td title="[[.CertFile]]">[[.CertFile]]</td></tr>
						<tr><td>Key File</td><td title="[[.KeyFile]]">[[.KeyFile]]</td></tr>
						<tr><td>Max Upload Memory (MB)</td><td>[[.MaxUploadMemoryMB]]</td></tr>
						<tr><td>Port</td><td>[[.Port]]</td></tr>
					</tbody>
				</table>
			</div>
			[[end]]
		</div> <!-- card -->
		<div class="card">
			[[with .Overview.Config]]
			<div class="card-header">
				<div class="card-title h5">Data Configuration</div>
				[[if ne .Location ""]]
				<div class="card-subtitle text-gray">
					Values are set in the <span class="label" title="[[.Location]]">configuration file</span>.
				</div>
				[[else]]
					<div class="card-subtitle text-gray">Values are defaults or set environment variable.</div>
				[[end]]
			</div>
			<div class="card-body">
				<table class="overview table">
					<tbody>
						[[if eq .DatabaseType "sqlite"]]
						<tr><td>Data File</td><td title="[[.DatabaseFile]]">[[.DatabaseFile]]</td></tr>
						[[end]]
						<tr><td>Search File</td><td title="[[.SearchFile]]">[[.SearchFile]]</td></tr>
						<tr><td>Database Type</td><td>[[.DatabaseType]]</td></tr>
						<tr><td>SSL Cert</td><td title="[[.SSLCert]]">[[.SSLCert]]</td></tr>
						<tr><td>SSL Key</td><td title="[[.SSLKey]]">[[.SSLKey]]</td></tr>
						<tr><td>SSL Root Cert</td><td title="[[.SSLRootCert]]">[[.SSLRootCert]]</td></tr>
						<tr><td>Max Idle Connections</td><td>[[.MaxIdleConnections]]</td></tr>
						<tr><td>Max Open Connections</td><td>[[.MaxOpenConnections]]</td></tr>
						<tr><td>Max Connection Lifetime</td><td>[[.MaxConnectionLifetime]]</td></tr>
					</tbody>
				</table>
			</div>
			[[end]]
		</div> <!-- card -->

	</div> <!-- card-columns -->
</section>
[[end]]


[[define "settings"]]
<section id="settings" class="pt-8">
	<div class="container grid-lg">
		<div class="columns">
			<div class="column col-3">
				<ul class="menu">
					<li class="menu-item">
						<div>
							<h4>Settings</h4>
						</div>
					</li>
					<li class="divider"></li>
					<li class="menu-item">
						<a @click="setPage('security', $event)" href="" :class="{'active': securityActive}">Security</a>
					</li>
					<li class="menu-item">
						<a @click="setPage('documents', $event)" href="" :class="{'active': documentsActive}">Documents</a>
					</li>
					<li class="menu-item">
						<a @click="setPage('web', $event)" href="" :class="{'active': webActive}">Web Server</a>
					</li>
					<li class="menu-item">
						<a @click="setPage('misc', $event)" href="" :class="{'active': miscActive}">Misc</a>
					</li>
					<li class="divider"></li>
					<li class="menu-item">
						<input v-model="search" class="form-input" type="text" id="settingSearch" 
							placeholder="Search Settings">
					</li>
				</ul>
			</div> <!-- column -->
			<div class="ml-8 column">
				<h3 v-if="search" v-cloak>Searching</h3>
				<h3 v-else-if="securityActive" v-cloak>Security</h3>
				<h3 v-else-if="documentsActive" v-cloak>Documents</h3>
				<h3 v-else-if="webActive" v-cloak>Web Server</h3>
				<h3 v-else-if="miscActive" v-cloak>Misc</h3>
				<h6 class="text-gray">Settings take effect immediately unless noted otherwise</h6>

				<form v-if="pages.security.PasswordMinLength" @submit="updateSetting('PasswordMinLength', $event)" 
					v-cloak class="setting-group form-horizontal">
						<div :class="{'has-error': hasError=='PasswordMinLength'}" class="form-group">
							<div class="col-7">
								<label class="form-label" for="PasswordMinLength">Minimum Allowed Password Length</label>
							</div>
							<div class="input-group col-5">
								<input v-model="settings.PasswordMinLength.value" class="form-input" type="number" 
									id="PasswordMinLength" placeholder="Min password length">
								<button type="submit" :class="{loading: isWaiting=='PasswordMinLength'}" 
									class="btn btn-primary input-group-btn">
									Change
								</button>
							</div>
							<p v-if="hasError=='PasswordMinLength'" v-cloak class="form-input-hint">{{error}}</p>
					</div>
				</form> <!-- setting -->

				<form v-if="pages.security.PasswordRequireNumber" v-cloak class="setting-group">
					<div class="form-group">
						<label :class="{'is-error': hasError=='PasswordRequireNumber'}" class="form-switch" id="PasswordRequireNumber">
							<input v-model="settings.PasswordRequireNumber.value" @change="updateSetting('PasswordRequireNumber')" 
							 type="checkbox" :disabled="isWaiting=='PasswordRequireNumber'">
							<i class="form-icon"></i> Require that all new passwords have at least one number
						</label>
						<p v-if="hasError=='PasswordRequireNumber'" v-cloak class="form-input-hint">{{error}}</p>
					</div>
				</form> <!-- setting -->
				<form v-if="pages.security.PasswordRequireSpecial" v-cloak class="setting-group">
					<div class="form-group">
						<label :class="{'is-error': hasError=='PasswordRequireSpecial'}" class="form-switch" id="PasswordRequireSpecial">
							<input v-model="settings.PasswordRequireSpecial.value" @change="updateSetting('PasswordRequireSpecial')" 
							type="checkbox"	:disabled="isWaiting=='PasswordRequireSpecial'">
							<i class="form-icon"></i> Require that all new passwords have at least one special character
						</label>
						<p v-if="hasError=='PasswordRequireSpecial'" v-cloak class="form-input-hint">{{error}}</p>
					</div>
				</form> <!-- setting -->
				<form v-if="pages.security.PasswordRequireMixedCase" v-cloak class="setting-group">
					<div class="form-group">
						<label :class="{'is-error': hasError=='PasswordRequireMixedCase'}" class="form-switch" 
							id="PasswordRequireMixedCase">
							<input v-model="settings.PasswordRequireMixedCase.value" @change="updateSetting('PasswordRequireMixedCase')" 
							type="checkbox" :disabled="isWaiting=='PasswordRequireMixedCase'">
							<i class="form-icon"></i> Require that all new passwords have at least one upper and one lower case letter
						</label>
						<p v-if="hasError=='PasswordRequireMixedCase'" v-cloak class="form-input-hint">{{error}}</p>
					</div>
				</form> <!-- setting -->
				<form v-if="pages.security.BadPasswordCheck" v-cloak class="setting-group">
					<div class="form-group">
						<label :class="{'is-error': hasError=='BadPasswordCheck'}" class="form-switch" id="BadPasswordCheck">
							<input v-model="settings.BadPasswordCheck.value" @change="updateSetting('BadPasswordCheck')" type="checkbox" 
								:disabled="isWaiting=='BadPasswordCheck'">
							<i class="form-icon"></i> Require that all new passwords aren't in a list of the most common passwords
						</label>
						<p v-if="hasError=='BadPasswordCheck'" v-cloak class="form-input-hint">{{error}}</p>
					</div>
				</form> <!-- setting -->
				<form v-if="pages.security.RememberSessionDays" @submit="updateSetting('RememberSessionDays', $event)" 
					v-cloak class="setting-group form-horizontal">
						<div :class="{'has-error': hasError=='RememberSessionDays'}" class="form-group">
							<div class="col-9">
								<label class="form-label" for="RememberSessionDays">How many days a session is valid for if 
									<em>Remember Me</em> is checked when logging in.</label>
							</div>
							<div class="input-group col-3">
								<input v-model="settings.RememberSessionDays.value" class="form-input" type="number" 
									id="RememberSessionDays" placeholder="Days to remember a session">
								<button type="submit" :class="{loading: isWaiting=='RememberSessionDays'}" 
									class="btn btn-primary input-group-btn">
									Change
								</button>
							</div>
							<p v-if="hasError=='RememberSessionDays'" v-cloak class="form-input-hint">{{error}}</p>
					</div>
				</form> <!-- setting -->
				<form v-if="pages.security.AllowPublicSignups" v-cloak class="setting-group">
					<div class="form-group">
						<label :class="{'is-error': hasError=='AllowPublicSignups'}" class="form-switch" id="AllowPublicSignups">
							<input v-model="settings.AllowPublicSignups.value" @change="updateSetting('AllowPublicSignups')" 
							type="checkbox" :disabled="isWaiting=='AllowPublicSignups'">
							<i class="form-icon"></i>Allow anyone to create a login for Lex Library.  If not set, logins can <em>only</em>
							be created from <a href="/admin/registration">Registration Links</a>.
						</label>
						<p v-if="hasError=='AllowPublicSignups'" v-cloak class="form-input-hint">{{error}}</p>
					</div>
				</form> <!-- setting -->
				<form v-if="pages.security.PasswordExpirationDays" @submit="updateSetting('PasswordExpirationDays', $event)" 
					v-cloak class="setting-group form-horizontal">
						<div :class="{'has-error': hasError=='PasswordExpirationDays'}" class="form-group">
							<div class="col-9">
								<label class="form-label" for="PasswordExpirationDays">Number of days until a user is required to change
									their password. If negative, passwords will never expire. <em>Only impacts new passwords.</em></label>
							</div>
							<div class="input-group col-3">
								<input v-model="settings.PasswordExpirationDays.value" class="form-input" type="number" 
									id="PasswordExpirationDays" placeholder="Days until passwords expire">
								<button type="submit" :class="{loading: isWaiting=='PasswordExpirationDays'}" 
									class="btn btn-primary input-group-btn">
									Change
								</button>
							</div>
							<p v-if="hasError=='PasswordExpirationDays'" v-cloak class="form-input-hint">{{error}}</p>
					</div>
				</form> <!-- setting -->


				<form v-if="pages.documents.AllowPublicDocuments" v-cloak class="setting-group">
					<div class="form-group">
						<label :class="{'is-error': hasError=='AllowPublicDocuments'}" class="form-switch" id="AllowPublicDocuments">
							<input v-model="settings.AllowPublicDocuments.value" @change="updateSetting('AllowPublicDocuments')" 
							type="checkbox" :disabled="isWaiting=='AllowPublicDocuments'">
							<i class="form-icon"></i> Allow documents to be published 
							<span class="popover popover-right"><em>Publically*</em>
								<div class="popover-container">
									<div class="card">
										<div class="card-body">
											When active, any document without a group will be viewable without a login.
										</div>
									</div>
								</div>
							</span>
						</label>
						<p v-if="hasError=='AllowPublicDocuments'" v-cloak class="form-input-hint">{{error}}</p>
					</div>
				</form> <!-- setting -->

				<form v-if="pages.web.RateLimit" @submit="updateSetting('RateLimit', $event)" 
					v-cloak class="setting-group form-horizontal">
						<div :class="{'has-error': hasError=='RateLimit'}" class="form-group">
							<div class="col-8">
								<label class="form-label" for="RateLimit">Number of requests per minute a unique user or ip address is 
									allowed to make </label>
								<small class="text-gray">Default: 2000</small>
							</div>
							<div class="input-group col-4">
								<input v-model="settings.RateLimit.value" class="form-input" type="number" 
									id="RateLimit" placeholder="Requests per minute">
								<button type="submit" :class="{loading: isWaiting=='RateLimit'}" 
									class="btn btn-primary input-group-btn">
									Change
								</button>
							</div>
							<p v-if="hasError=='RateLimit'" v-cloak class="form-input-hint">{{error}}</p>
					</div>
				</form> <!-- setting -->
				<form v-if="pages.web.URL" @submit="updateSetting('URL', $event)" 
					v-cloak class="setting-group form-horizontal">
						<div :class="{'has-error': hasError=='URL'}" class="form-group">
							<div class="col-4">
								<label class="form-label" for="URL">URL of the Lex Library Instance</label>
							</div>
							<div class="input-group col-8">
								<input v-model="settings.URL.value" class="form-input" type="text" id="URL" placeholder="Lex Library URL">
								<button type="submit" :class="{loading: isWaiting=='URL'}" 
									class="btn btn-primary input-group-btn">
									Change
								</button>
							</div>
							<p v-if="hasError=='URL'" v-cloak class="form-input-hint">{{error}}</p>
					</div>
				</form> <!-- setting -->


				<form v-if="pages.misc.NonAdminIssueSubmission" v-cloak class="setting-group">
					<div class="form-group">
						<label :class="{'is-error': hasError=='NonAdminIssueSubmission'}" class="form-switch" 
							id="NonAdminIssueSubmission">
							<input v-model="settings.NonAdminIssueSubmission.value" @change="updateSetting('NonAdminIssueSubmission')" 
							type="checkbox" :disabled="isWaiting=='NonAdminIssueSubmission'">
							<i class="form-icon"></i> Allow non-admin users to submit issues from the <a href="/about">about page</a>. 
						</label>
						<p v-if="hasError=='NonAdminIssueSubmission'" v-cloak class="form-input-hint">{{error}}</p>
					</div>
				</form> <!-- setting -->

			</div> <!-- column -->
		</div> <!-- columns -->
	</div> <!-- container -->
</section>
[[end]]


[[define "logs"]]
	[[with .Log]]
	<section class="logs pt-8">
		[[if .Entry]]
			[[with .Entry]]
				<h4>Log Entry from [[time .Occurred]] <small class="text-gray">([[.ID]])</small></h4>
				<hr>
				<p>[[.Message]]</p>
			[[end]]
		[[else]]
			<div class="columns">
				<div class="col-sm-12 col-5 centered">
					<form id="logSearch" @submit="search">
						<div class="input-group">
							<input v-model="searchValue" type="text" class="form-input input" placeholder="Search Logs">
							<button type="submit" class="btn btn-primary input-group-btn">Search</button>
						</div>
					</form>
				</div>
			</div>
			<table class="table">
				<thead>
					<tr>
						<th class="date">Date</th>
						<th>Error</th>
						<th class="view-link"></th>
					</tr>
				</thead>
				<tbody>
					[[range .Logs]]
						<tr>
							<td>[[time .Occurred]]</td>
							<td title="[[.Message]]">[[.Message]]</td>
							<td><a class="float-right" href="/admin/logs/[[.ID]]">View</a></td>
						</tr>
					[[end]]
				</tbody>
			</table>
			[[template "pager" .Pager]]
		[[end]]
	</section>
	[[end]]
[[end]]

[[define "registration"]]
	[[with .Registration]]
		[[if .New]]
			[[template "new registration" .]]
		[[else if .Single]]
			[[template "single registration" .Single]]
		[[else]]
		<section class="registration container grid-lg pt-8">
			<a href="/admin/newregistration" class="float-right btn btn-lg btn-primary">New</a>
			<div class="flex-centered">
				<div class="btn-group">
					<a href="/admin/registration" class="btn btn-lg [[if not .All]]active[[end]]">Active</a>
					<a href="/admin/registration?all" class="btn btn-lg [[if .All]]active[[end]]">All</a>
				</div>
			</div>
			<table class="table">
				<thead>
					<tr>
						<th>Description</th>
						<th class="date">Created Date</th>
						<th class="creator text-right">Creator</th>
					</tr>
				</thead>
				<tbody>
					[[range .Tokens]]
						<tr class="[[if not .Valid]]secondary[[end]]">
							<td><a href="/admin/registration/[[.Token]]">[[.Description]]</a></td>
							<td>[[time .Created]]</td>
							<td class="text-right">[[template "avatar" .Creator]]</td>
						</tr>
					[[end]]
				</tbody>
			</table>
			[[template "pager" .Pager]]
		</section>
		[[end]]
	[[end]]
[[end]]

[[define "new registration"]]
<div id="newRegistration" class="container grid-xs pt-8">
	<div class="columns">
		<div class="column">
			<h3>Create a Registration URL</h3>
			<h6 class="text-gray">Registration URLs allow new users to sign up for this Lex Library instance when
			public signups are not allowed</h6>


			<div v-if="error" v-cloak class="toast toast-error">
				<button @click="error=null"class="btn btn-clear float-right"></button>
				{{error}}
			</div>
			<form @submit="submit" class="form-horizontal">
				<div :class="{'has-error': descriptionErr}" class="form-group">
					<div class="col-3">
						<label class="form-label" for="tokenDescription">Description</label>
					</div>
					<div class="col-9">
						<input v-model="description" class="form-input" type="text" id="tokenDescription" placeholder="Description">
						<p v-if="descriptionErr" v-cloak class="form-input-hint">{{descriptionErr}}</p>
					</div>
				</div>
				<div :class="{'has-error': limitErr}" class="form-group" id="tokenLimit">
					<div class="col-9">
						<label class="form-switch">
							<input v-model="hasLimit" type="checkbox">
							<i class="form-icon"></i> Limit the number of users created
						</label>
					</div>
					<div class="col-3">
						<input v-model="limit" :disabled="!hasLimit" class="form-input" type="number" placeholder="1">
					</div>
					<p v-if="limitErr" v-cloak class="form-input-hint">{{limitErr}}</p>
				</div>
				<div :class="{'has-error': expireErr}"  id="tokenExpiration" class="form-group">
					<div class="col-7">
						<label class="form-switch">
							<input v-model="hasExpiration" type="checkbox">
							<i class="form-icon"></i> Valid until a specific date
						</label>
					</div>
					<div class="col-5">
						<input v-model="expires" :disabled="!hasExpiration" class="form-input" type="date" placeholder="mm/dd/yyyy">
						<p v-if="expireErr" v-cloak class="form-input-hint">{{expireErr}}</p>
					</div>
				</div>
				<div class="form-group">
					<label class="form-label" for="groupSearch">
						When registering with this link, users become members of the following groups:
					</label>
					<div v-cloak class="chips m-2">
						<span v-for="group in groups" class="chip">
							{{group.name}}<a href="" @click="removeGroup(group, $event)" class="btn btn-clear" aria-label="Close" 
								role="button"></a>
						</span>
					</div>
				</div>
				<div class="form-group">
					<div class="col-3 ">
						<label class="form-label" for="groupSearch">Group Name</label>
					</div>
					<div class="col-9">
						<group-search @select="addGroup" @error="error=$event" maxlength="[[fieldMax `group.name`]]" class="w-100">
						</group-search>
					</div>
				</div>
				<div class="text-right">
					<button type="submit" class="btn btn-primary">Create URL</button>
				</div>
			</form>
		</div> <!-- column -->
	</div> <!-- columns -->
</div>
[[end]]

[[define "single registration"]]
<div id="singleRegistration" class="container grid-lg pt-8">
	<div v-if="error" v-cloak class="mb-4 toast toast-error">
		<button @click="error=null"class="btn btn-clear float-right"></button>
		{{error}}
	</div>

	<div class="columns">
		<div class="column col-8">
			<h4>[[.Description]]</h4>
			<p class="text-gray">Send this URL to whoever needs a login for Lex Library</p>
		</div> <!-- column -->
		<div class="column col-4">
			<div class="tile tile-centered">
				<div class="tile-icon">[[template "avatar" .Creator]]</div>
				<div class="tile-content">
					<div class="tile-title">Created by [[.Creator.DisplayName]]</div>
					[[if .Expires.Valid]]
						<div class="tile-subtitle text-gray" title="[[time .Expires.Time]]">
							Expiration: [[since .Expires.Time]]
						</div>
					[[end]]
					[[if ge .Limit 0]]
						<div class="tile-subtitle text-gray">[[plural .Limit "Registration" ""]] Left</div>
					[[end]]
					<div class="tile-subtitle text-gray">Created on [[time .Created]]</div>
				</div>
			</div>
		</div> <!-- column -->
	</div> <!-- columns -->

	[[if .Valid]]
		<div class="columns pt-8">
			<div class="column">
				<div class="input-group">
					<button @click.stop.prevent="copy" class="input-group-btn btn btn-primary btn-lg">Copy</button>
					<input class="form-input input-lg" type="text" readonly id="registrationUrl" value="[[.URL]]">
				</div>
			</div>
			<div class="column col-2">
				<button @click="invalidate('[[.Token]]')" class="btn btn-error btn-lg">
					<i class="icon icon-delete"></i> Remove
				</button>
			</div>
		</div>
		<p :class="{'show': copied}" class="fade text-gray">Copied to the clipboard</p>
	[[end]]
	<h5>Groups</h5>
	[[range .Groups]]
		<span class="chip"><a href="/group/[[.ID]]">[[.Name]]</a></span>
	[[end]]
	<h5 class="pt-4">Users Registered with this URL</h5>
	<div class="registration-users">
		[[range .Users]]
			<div class="tile tile-centered pr-4 pb-4">
				<div class="tile-icon">
					[[template "avatar" .]]
				</div>
				<div class="tile-content">
					<p class="tile-title">[[.DisplayName]]</p>
					<p class="tile-subtitle text-gray" title="[[time .Created]]">Created [[since .Created]]</p>
				</div>
			</div>
		[[end]]
	</div>
</div>
[[end]]
