<!DOCTYPE html>
<html lang="en">

<head>
	[[template "header"]]
	<link href="/css/quill.snow.css" rel="stylesheet">

	[[if eq .Page "new"]]
		<title>New Document - Lex Library</title>
	[[else if eq .Page "edit"]]
		<title>Edit [[.Draft.Title]] - Lex Library</title>
	[[end]]
</head>

<body>
	<div class="page-container">
		[[template "nav" .]]
		<div class="page-content">
		[[if eq .Page "new"]]
			<div id="newDocument" class="container grid-sm pt-8">
				<form @submit="submit">
					<div :class="{'has-error': error}" class="form-group">
						<div class="input-group">
							<input v-model="title" class="form-input input-lg" type="text" id="title" placeholder="Document Title">
							<select id="language" class="select-lg form-select">
								[[range .Languages]]
									<option [[if eq .String ctx.Language.String]]selected="selected"[[end]] value="[[.String]]">
										[[.Display]]
									</option>
								[[end]]
							</select>
						</div>
						<p v-if="error" v-cloak class="form-input-hint">{{error}}</p>
					</div>
					<button type="submit" class="btn btn-lg btn-primary">Submit</button>
				</form>
			</div>
		[[else if eq .Page "edit"]]
			<div v-if="error" v-cloak class="toast toast-error">
				<button @click="error=null" class="btn btn-clear float-right"></button>
				{{error}}
			</div>
			[[with .Draft]]
			<div id="editor" class="container grid-xl">
				<h1>[[.Title]]</h1>
				<div class="columns">
					<div class="col-9">
						<div  v-cloak>
							<div v-editor>
								[[html .Content]]
							</div>
						</div>
					</div>
					<div class="col-3">
						<div class="ml-4">
							<button @click="save" class="btn btn-lg btn-primary">Save</button>
							<button @click="publish" class="btn btn-lg btn-primary">Publish</button>
						</div>
						<ul>
							<li>Labels</li>
							<li>Statistics</li>
						</ul>
					</div>
				</div>
			</div>
			[[end]]
		[[end]]
		</div>
		[[template "footer" .]]
	</div>
</body>
<script type="application/json" id="payload">[[.Draft]]</script>
<script src="/js/vue.js"></script>
<script src="/js/quill.js"></script>
<script src="/js/editor.js"></script>

</html>
