<!DOCTYPE html>
<html lang="en">

<head>
	[[template "header"]]
	<title>First Run Setup - Lex Library</title>
</head>

<body>
<div class="container">
	<div id="setup" class="columns is-centered pt-5">
		<!-- Admin Setup -->
		<div v-if="!showSettings" class="column is-one-third">
			<h1 class="title is-size-3 has-text-centered">Lex Library First Run Setup</h1>
			<div class="card">
				<div class="card-content">
					<h1 class="card-title">
						Before you can start using Lex Library, you'll need to to setup an adminstrative user.
					</h1>
					<form @submit="signup">
						<div class="field">
							<label class="label" for="inputUsername">Username</label>
							<div class="control">
								<input v-model="username" v-focus v-bind:class="{'is-danger': error}" type="text" class="input" 
									id="inputUsername" placeholder="Enter username">
							</div>
							<p v-if="error" v-cloak class="help is-danger">{{error}}</p>
						</div>
						<div class="field">
							<label for="inputPassword" class="label">Password</label>
							<div class="control">
								<input v-model="password" type="password" class="input" id="inputPassword"
									placeholder="Enter password">
							</div>
						</div>
						<div class="field">
							<div class="control">
								<input v-model="password2" @blur="validatePassword2" @keydown="password2Err=null"
									v-bind:class="{'is-danger': password2Err}" type="password" class="input" 
									id="inputPassword2" placeholder="Enter password again">
							</div>
							<p v-if="password2Err" class="help is-danger">{{password2Err}}</p>
						</div>
						<button id="submit" type="submit" class="button is-primary is-block">Create User</button>
					</form>
				</div>
			</div>
		</div>
		<!-- Settings -->
		<div v-if="showSettings" v-cloak id="settings" class="column is-half">
			<h1 class="title is-size-3 has-text-centered">Lex Library First Run Setup</h1>
			<div class="card">
				<div class="card-content">
					<h1 class="card-title">What type of instance will this server be:</h1>
					<div v-if="error" v-cloak class="notification is-danger">
						{{error}}
					</div>
					<div class="control">
						<label class="radio" :disabled="showAdvanced">
							<input v-model="instanceType" :disabled="showAdvanced" type="radio" id="inputPrivate" 
								name="public-private"	value="private">
							Private: <small>New logins are managed by admins. A login is required to view
							all documents.</small>
						</label>
					</div>
					<div class="control">
						<label class="radio" :disabled="showAdvanced">
							<input v-model="instanceType":disabled="showAdvanced" type="radio" name="public-private" 
								id="inputPublic" value="public">
							Public: <small>Anyone can create a login. Documents can be published publically.</small>
						</label>
					</div>
					<a @click="showAdvanced = !showAdvanced" id="showAdvanced">
						<small v-if="showAdvanced">Advanced<span class="caret"></span></i></small>
						<small v-else>Advanced<span class="caret-right"></span></i></small>
					</a>
					<div v-if="showAdvanced">
						<div class="control">
							<label class="checkbox" for="allowPublicDocs">
								<input v-model="publicDocs" type="checkbox" id="allowPublicDocs">
									Allow documents to be published publically
							</label>
						</div>
						<div class="control">
							<label class="checkbox" for="allowPublicSignup">
								<input v-model="publicSignup" type="checkbox" id="allowPublicSignup">
								Allow anyone to create a login
							</label>
						</div>
					</div>
					<footer class="has-text-right">
						<hr>
						<button @click="setSettings" id="setSettings" class="button is-primary">Continue</button>
					</footer>
				</div>
			</div>
		</div>
	</div>	
</div>
</body>
<script src="/js/vue.js"></script>
<script src="/js/first_run.js"></script>

</html>
