<!DOCTYPE html>
<html lang="en">

<head>
	[[template "header"]]
	<title>First Run Setup - Lex Library</title>
</head>

<body>
<div class="section container grid-sm">
	<div id="setup" class="columns">
		<!-- Admin Setup -->
		<div class="column">
			<h1 class="text-center">Lex Library First Run Setup</h1>
			<div v-if="!showSettings" class="card">
				<div class="card-header">
					<div class="card-title h5">Administration</div>
					<div class="card-subtitle text-gray">
						Before you can start using Lex Library, you'll need to to setup an adminstrative user.
					</div>
				</div>
				<div class="card-body">
					<form @submit="signup">
						<div :class="{'has-error': error}" class="form-group">
							<label class="form-label" for="inputUsername">Username</label>
							<input v-model="username" v-focus type="text" class="form-input" id="inputUsername" placeholder="Enter username">
							<p v-if="error" v-cloak class="form-input-hint">{{error}}</p>
						</div>

						<div class="form-group">
							<label for="inputPassword" class="form-label">Password</label>
							<input v-model="password" type="password" class="form-input" id="inputPassword" placeholder="Enter password">
						</div>
						<div :class="{'has-error': password2Err}" class="form-group">
							<input v-model="password2" @blur="validatePassword2" @keydown="password2Err=null"
									v-bind:class="{'is-danger': password2Err}" type="password" class="form-input"	id="inputPassword2" 
									placeholder="Enter password again">
							<p v-if="password2Err" v-cloak class="form-input-hint">{{password2Err}}</p>
						</div>
						<button id="submit" type="submit" class="btn btn-primary btn-block">Create User</button>
					</form>
				</div>
			</div>
			<!-- Settings -->
			<div v-if="showSettings" v-cloak id="settings" class="card">
				<div class="card-body">
					<div v-if="error" v-cloak class="toast toast-error">
						{{error}}
						<button @click="error=null" class="btn btn-clear float-right"></button>
					</div>

					<div :class="{'has-error': urlErr}" class="form-group">
						<label for="inputInstanceURL" class="h6 form-label">Instance URL</label>
						<input v-model="instanceURL" @blur="validateURL" @keydown="urlErr=null"
								v-bind:class="{'is-danger': instanceURL}" type="text" class="form-input"	id="inputInstanceURL" 
								placeholder="Enter the base URL of the current instance">
						<p v-if="urlErr" v-cloak class="form-input-hint">{{urlErr}}</p>
					</div>
					<p class="form-input-hint">Confirm, or update the URL to where Lex Library will be running.</p>
					<fieldset :disabled="showAdvanced">
						<div class="form-group">
							<label for="inputInstanceURL" class="h6 form-label">What type of instance will this server be:</label>
							<label class="form-radio">
								<input v-model="instanceType" type="radio" id="inputPrivate" name="public-private" value="private">
								<i class="form-icon"></i>
								<strong>Private:</strong><br>
								<small>New logins are managed by admins. A login is required to view all documents.</small>
							</label>
						</div>
						<div class="form-group">
							<label class="form-radio">
								<input v-model="instanceType" type="radio" name="public-private" id="inputPublic" value="public">
								<i class="form-icon"></i>
								<strong>Public:</strong><br>
								<small>Anyone can create a login. Documents can be published publically.</small>
							</label>
						</div>
					</fieldset>
					<button class="btn btn-link" @click="showAdvanced = !showAdvanced" id="showAdvanced">
						<small v-if="showAdvanced">Advanced<i class="ml-1 icon icon-arrow-down"></i></small>
						<small v-else>Advanced<i class="ml-1 icon icon-arrow-right"></i></small>
					</button>
					<div v-if="showAdvanced">
						<div class="form-group">
							<label class="form-switch" for="allowPublicDocs">
								<input v-model="publicDocs" type="checkbox" id="allowPublicDocs">
								<i class="form-icon"></i>Allow documents to be published publically
							</label>
						</div>
						<div class="form-group">
							<label class="form-switch" for="allowPublicSignup">
								<input v-model="publicSignup" type="checkbox" id="allowPublicSignup">
								<i class="form-icon"></i>Allow anyone to create a login
							</label>
						</div>
					</div>
				</div> <!-- card body -->
				<div class="card-footer text-right">
					<button @click="setSettings" id="setSettings" class="btn btn-primary">Continue</button>
				</div>
			</div> <!-- card -->
		</div> <!-- column -->
	</div> <!-- columns -->
</div>
</body>
<script src="/js/vue.js"></script>
<script src="/js/first_run.js"></script>

</html>
