<!DOCTYPE html>
<html lang="en">

<head>
	[[template "header"]]
	<title>First Run Setup - Lex Library</title>
</head>

<body>
<div class="container">
	<div id="setup" class="pt-4">
		<h1 class="text-center">Lex Library First Run Setup</h1>
		<div class="row justify-content-center">
			<!-- Admin Setup -->
			<div v-if="!showSettings" class="col-md-5">
				<div class="card">
					<div class="card-body">
						<p class="card-text text-muted">
							Before you can start using Lex Library, you'll need to to setup an adminstrative user.
						</p>
						<div v-if="error" v-cloak class="alert alert-danger" role="alert">
							{{error}}
						</div>
						<form @submit="signup">
							<div class="form-group">
								<label for="inputUsername">Username</label>
								<input v-model="username" v-focus type="text" class="form-control" id="inputUsername"
									placeholder="Enter username">
							</div>
							<div class="form-group">
								<label for="inputPassword">Password</label>
								<input v-model="password" type="password" class="form-control" id="inputPassword"
									placeholder="Enter password">
							</div>
							<div class="form-group">
								<input v-model="password2" @blur="validatePassword2" @keydown="password2Err=null"
									v-bind:class="{'is-invalid': password2Err}"	type="password" class="form-control" 
									id="inputPassword2" placeholder="Enter password again">
								<div v-if="password2Err" class="invalid-feedback">{{password2Err}}</div>
							</div>
							<button type="submit" class="btn btn-primary btn-block">Create User</button>
						</form>
					</div>
				</div>
			</div>
			<!-- Settings -->
			<div v-if="showSettings" id="settings" class="col-md-6">
				<div class="card">
					<div class="card-body">
						<h6 class="card-title">What type of instance will this server be:</h6>
						<div v-if="error" v-cloak class="alert alert-danger" role="alert">
							{{error}}
						</div>
						<fieldset :disabled="showAdvanced">
							<div class="form-check">
								<input v-model="instanceType" class="form-check-input" type="radio" id="inputPrivate" name="public-private"
								value="private">
								<label class="form-check-label">
									Private: <small class="text-muted">New logins are managed by admins. A login is required to view
									all documents.</small>
								</label>
							</div>
							<div class="form-check">
								<input v-model="instanceType" class="form-check-input" type="radio" name="public-private" id="inputPublic"
									value="public">
								<label class="form-check-label">
									Public: <small class="text-muted">Anyone can create a login. Documents can be published publically.</small>
								</label>
							</div>
						</fieldset>
						<button @click="showAdvanced = !showAdvanced" id="showAdvanced" class="btn btn-link card-link">
							<small v-if="showAdvanced" class="caret-down">Advanced</small>
							<small v-else class="caret-right">Advanced</small>
						</button>
						<div v-if="showAdvanced">
							<div class="form-check">
								<input v-model="publicDocs" class="form-check-input" type="checkbox" id="allowPublicDocs">
								<label class="form-check-label" for="allowPublicDocs">
									Allow documents to be published publically
								</label>
							</div>
							<div class="form-check">
								<input v-model="publicSignup" class="form-check-input" type="checkbox" value="" id="allowPublicSignup">
								<label class="form-check-label" for="allowPublicSignup">
									Allow anyone to create a login
								</label>
							</div>
						</div>

						<hr>
						<button @click="setSettings" class="btn btn-primary float-right">Continue</button>
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>
</body>
<script src="/js/vue.js"></script>
<script src="/js/first_run.js"></script>

</html>
