<!DOCTYPE html>
<html lang="en">

<head>
	[[template "header"]]
	[[if .Unauthorized]]
		<title>Log In to Continue - Lex Library</title>
	[[else]]
		<title>Log In - Lex Library</title>
	[[end]]
</head>

<body>
	<div class="page-container">
		<div id="login" class="form-auth text-center page-content vh-100">
			<form @submit="login">
				<div v-if="error" v-cloak class="alert alert-danger">
					{{error}}
					<button type="button" @click="error=null" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<!-- <img class="mb-4" src="" alt="" width="72" height="72"> -->
				<!-- TODO: Add logo -->
				[[if .Unauthorized]]
					<h1 class="h3 mb-3 font-weight-normal">You Do Not Have Access to this Page</h1>
					<h4 class="text-muted">Please log in with another user</h4>
				[[else]]
					<h1 class="h3 mb-3 font-weight-normal">Log in to Lex Library</h1>
				[[end]]

				<label class="sr-only" for="inputUsername">Username</label>
				<input v-model="username" v-focus type="text" class="form-control input-top" id="inputUsername" 
					maxlength="[[fieldMax `user.username`]]" placeholder="Username">

				<label for="inputPassword" class="sr-only">Password</label>
				<input v-model="password" type="password" class="form-control input-bottom" id="inputPassword"
					placeholder="Password">

				<div class="checkbox mb-3">
					<label>
						<input v-model="rememberMe" type="checkbox" id="inputRememberMe"> Remember me
					</label>
				</div>
				<button type="submit" :class="{'loading': loading}" class="btn btn-lg btn-primary btn-block">Log In</button>
				[[if .AllowSignup]]
					<p class="mt-5 mb-4">Don't have a login?  <a href="/signup">Signup!</a></p>
				[[end]]
			</form>
		</div> <!-- #login -->
		[[template "footer" .]]


		<modal v-cloak ref="modal">
			<div class="modal-header">
				<h5 class="modal-title">{{modalTitle}}</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form @submit="changePassword">
				<div class="modal-body">
					<div class="content">
						<div class="form-group">
							<label for="inputNewPassword">Choose a New Password</label>
							<input v-model="newPassword" @blur="validatePassword" @keydown="passwordErr=null" autofocus
								type="password" :class="{'is-invalid': passwordErr}" class="form-control" id="inputNewPassword"	
								placeholder="Enter a new password">
							<div class="invalid-feedback">{{passwordErr}}</div>
						</div>
						<div class="form-group">
							<input v-model="password2" @blur="validatePassword2" @keydown="password2Err=null"	type="password" 
						 		:class="{'is-invalid': password2Err}" class="form-control" id="inputPassword2" 
								placeholder="Enter password again">
							<div class="invalid-feedback">{{password2Err}}</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button v-if="user" @click="navigate" type="button" class="btn">Skip</button>
					<button @click="changePassword" type="submit" :class="{'loading': loading}" class="btn btn-primary">
						Submit
					</button>
				</div>
			</form>
		</modal>

	</div> <!-- page-container -->
</body>
<script src="/js/vue.js"></script>
<script src="/js/login.js"></script>
</html>
