<!DOCTYPE html>
<html lang="en">

<head>
	[[template "header"]]
	<title>Edit Profile - Lex Library</title>
</head>

<body>
<div class="page-container">
[[template "nav" .]]
<div class="page-content">

<div class="container">
	<div class="row">
		<div class="col-3">

			<h4>Settings</h4>
			<div class="list-group">
				<a class='list-group-item list-group-item-action [[if eq .Tab "profile"]]active[[end]]' href="/profile/edit/">
					Profile
				</a>
				<a class='list-group-item list-group-item-action [[if eq .Tab "account"]]active[[end]]' href="/profile/edit/account">
					Account
				</a>
			</div>

		</div>
		<div class="col-9">
			[[if eq .Tab "profile"]]
				<div class="profile-section">
					<h3>Update Profile</h3>
					<div class="columns">
						<div class="column">
							<div v-if="error" v-cloak class="toast toast-error">
								<button @click="error=null"class="btn btn-clear float-right"></button>
								{{error}}
							</div>

							<form id="changeName" @sumbit="changeName">
								<div :class="{'has-error': nameErr}" class="form-group">
									<label class="form-label" for="inputName">Name</label>
									<input v-model="user.name" type="text" class="form-control" id="inputName" 
										maxlength="[[fieldMax `user.name`]]" placeholder="Enter a name">
									<p v-if="nameErr" v-cloak class="form-input-hint">{{nameErr}}</p>
								</div>
								<button type="submit" :class="{'loading': nameLoading}" class="btn btn-primary" @click="changeName">
									Update
								</button>
							</form>
						</div> <!-- column -->

						<div class="column">
							<div class="text-center">
								<figure class="avatar avatar-full" data-initial="[[.User.DisplayInitials]]">
									[[if .User.ProfileImage]]
										<img src="/profile/image" alt="[[.User.DisplayName]]">
									[[end]]
								</figure>
								<div class="relative">
									<file-input accept="image/jpeg,image/gif,image/png" @change="uploadImage">
										<button class="mt-2 btn">Select an Image</button>
									</file-input>
									[[if .User.ProfileImage]]
										<button @click="removeImage" data-tooltip="Remove Profile Image"
											class="profile-image-remove tooltip tooltip-top btn btn-error btn-action">
											<i class="icon icon-delete"></i>
										</button>
									[[end]]
								</div>
							</div>
						</div> <!-- column -->
					</div> <!-- columns -->
				</div>
			[[end]]
			[[if eq .Tab "account"]]
			<div class="profile-section">
				<h3>Change Password </h3>
				<div class="columns">
					<div class="column col-6 col-mr-auto">
						<form id="changePassword" @sumbit="changePassword">
							<div :class="{'has-error': password.old.err}" class="form-group">
								<label class="form-label" for="inputPasswordOld">Current Password</label>
								<input v-model="password.old.val" type="password" class="form-control" id="inputPasswordOld" 
									placeholder="Enter your current password">
								<p v-if="password.old.err" v-cloak class="form-input-hint">{{password.old.err}}</p>
							</div>
							<div :class="{'has-error': password.new.err}" class="form-group">
								<label class="form-label" for="inputPasswordNew">New Password</label>
								<input v-model="password.new.val" type="password" class="form-control" id="inputPasswordNew" 
									placeholder="Enter a new password" @blur="validatePassword" @keydown="password.new.err=null">
								<p v-if="password.new.err" v-cloak class="form-input-hint">{{password.new.err}}</p>
							</div>
							<div :class="{'has-error': password.confirm.err}" class="form-group">
								<input v-model="password.confirm.val" type="password" class="form-control" id="inputPasswordConfirm" 
									placeholder="Confirm new password" @blur="validatePassword2" @keydown="password.confirm.err=null">
								<p v-if="password.confirm.err" v-cloak class="form-input-hint">{{password.confirm.err}}</p>
							</div>

							<button type="submit" :class="{'loading': password.loading}" class="btn btn-primary" @click="changePassword">
								Change Password
							</button>
						</form>
					</div> <!-- column -->
				</div> <!-- columns -->
			</div>
			<div class="profile-section">
				<h3>Change Username</h3>
				<div class="columns">
					<div class="column col-6 col-mr-auto">
						<form id="changeUsername" @sumbit="changeUsername">
							<div :class="{'has-error': usernameErr}" class="form-group">
								<label class="form-label" for="inputUsername">Username</label>
								<input v-model="user.username" type="text" class="form-control" id="inputUsername" 
								maxlength="[[fieldMax `user.username`]]" placeholder="Enter a username">
								<p v-if="usernameErr" v-cloak class="form-input-hint">{{usernameErr}}</p>
							</div>
							<button type="submit" :class="{'loading': usernameLoading}" class="btn btn-primary" @click="changeUsername">
								Change Username
							</button>
						</form>
					</div> <!-- column -->
				</div> <!-- columns -->
			</div>
			[[end]]
		</div>
	</div>
</div>
[[if eq .Tab "profile"]]
<modal ref="modal">
	<div class="modal-header">
		<h5 class="modal-title">Set Profile Image</h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<div class="content text-center">
			<div v-if="uploadErr" class="alert alert-danger">
				<button type="button" @click="uploadErr=null" class="close" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				{{uploadErr}}
			</div>
			<div v-if="uploadComplete">
				<img @load="loadCrop" :src="draftImage" class="profile-img-upload img-responsive" alt="[[.User.DisplayName]]">
			</div>
			<div v-if="!uploadComplete" class="bar">
				<div class="bar-item" role="progressbar" :style="{width: imageProgress+'%'}" 
					:aria-valuenow="imageProgress" aria-valuemin="0" aria-valuemax="100">
					{{imageProgress}}%
				</div>
			</div>
		</div>
	</div> <!-- modal-body -->
	<div v-if="uploadComplete" class="modal-footer">
		<button @click="setImage" type="button" :class="{'loading': imageLoading}" class="btn btn-primary">Set Image</button>
	</div>
</modal>
[[end]]
</div> <!-- page-content-->
[[template "footer" .]]
</div> <!-- page-container -->
</body>
<script type="application/json" id="payload">[[.User]]</script>
<script src="/js/vue.js"></script>
<script src="/js/profile_edit.js"></script>
</html>
