<!DOCTYPE html>
<html lang="en">

<head>
	[[template "header"]]
	<title>Sign Up - Lex Library</title>
</head>

<body>
<div class="page-container">
<section class="section page-content">
<div class="container grid-xs">
	<div id="signup" class="columns">
		<div class="column">
			<h1 class="text-center">Join Lex Library</h1>
			<div class="card">
				<div class="card-body">
					<form @submit="signup('[[.Token]]', $event)">
						<div :class="{'has-error': usernameErr}" class="form-group">
							<label class="form-label" for="inputUsername">Username</label>
							<input v-model="username" v-focus @blur="validateUsername" @keydown="usernameErr=null" type="text" 
								maxlength="[[fieldMax `user.username`]]" class="form-input" id="inputUsername" placeholder="Enter username">
							<p v-if="usernameErr" v-cloak class="form-input-hint">{{usernameErr}}</p>
						</div>
						<div :class="{'has-error': passwordErr}" class="form-group">
							<label class="form-label" for="inputPassword">Password</label>
							<input v-model="password" @blur="validatePassword" @keydown="passwordErr=null" type="password" 
								class="form-input" id="inputPassword"	placeholder="Enter password">
							<p v-if="passwordErr" v-cloak class="form-input-hint">{{passwordErr}}</p>
						</div>
						<div :class="{'has-error': password2Err}" class="form-group">
							<input v-model="password2" @blur="validatePassword2" @keydown="password2Err=null"	type="password" 
							 class="form-input" id="inputPassword2" placeholder="Enter password again">
							<p v-if="password2Err" v-cloak class="form-input-hint">{{password2Err}}</p>
						</div>
						<button type="submit" id="submit" :class="{'loading': loading}" class="btn btn-primary btn-block">
							Sign Up
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
</section>
[[template "footer" .]]
</div>
</body>
<script src="/js/vue.js"></script>
<script src="/js/signup.js"></script>

</html>
