[[define "nav"]]
<header class="container grid-xl navbar pt-2">
	<div class="navbar-section">
		<a href="/" class="navbar-brand mr-2">Lex Library</a>
	</div>
	<div class="navbar-section">
		[[if .User]]
		<a href="/profile">
			<figure class="avatar" data-initial="[[.User.DisplayInitials]]">
				[[if .User.ProfileImage]]
					<img src="/profile/image?thumb" alt="[[.User.DisplayName]]">
				[[end]]
			</figure>
		</a>
		[[else]]
			<a class="btn btn-link" href="/login?return=%2F">Log In</a>
		[[end]]
	</div>
</header>
[[end]]
